<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.siaedgard.finalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminWelcomePage" />
        <activity android:name=".AdminCreateService" />
        <activity android:name=".AdminUpdateService" />
        <activity android:name=".MainActivity" />
        <activity android:name=".user_Type" />
        <activity android:name=".ServiceProviderForm" />
        <activity android:name=".ServiceProviderWelcomePage" />
        <activity android:name=".ServiceProviderAddServices" />
        <activity android:name=".ServiceProviderDeleteServices" />
        <activity android:name=".ServiceProviderAvailabilities" />
        <activity android:name=".ConfirmationPage" />
        <activity android:name=".ServiceProviderAvailabilitiesList" />
        <activity android:name=".ServiceProviderEditAvailability" />
        <activity android:name=".HomeOwnerRating" />
        <activity android:name=".HomeOwnerSearchProvider" />
        <activity android:name=".ServiceProviderList" />
        <activity android:name=".ServiceProviderRatings"></activity>
        <activity android:name=".HomeOwnerSearchByService" />
        <activity android:name=".HomeOwnerSearchByRatings" />
        <activity android:name=".HomeOwnerSearchByTime" />
        <activity android:name=".HomeOwnerWelcomePage" />
        <activity android:name=".User_Type_Selection" />
        <activity android:name=".ServiceProviderListByService" />
    </application>

</manifest>